*::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}

*:-moz-placeholder {
    color: #999;
    opacity: 1;
}

*::-moz-placeholder {
    color: #999;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}

:-moz-ui-invalid:not(output) {
    box-shadow: 0 0 0 red;
}

.hidden {
    display: none;
}

.popup-form {
    background: white;
    margin: 40px auto;
    padding: 20px 30px 10px;
    text-align: left;
    max-width: 320px;
    position: relative;
    border-radius: 10px;
    border: 4px solid #450F0F;
}

.button-center {
    margin: 0;
    padding: 0;
    text-align: center;
}

.popup-form button.button {
    margin: 10px auto 6px;
    padding: 10px 35px;
    background-color: #450F0F;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.25s ease 0s;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.popup-form button.button:hover {
    background-color: #911111;
    transition: 0.4s;
}

p.zakaz {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #450F0F;
    text-transform: uppercase;
}

.popup-form label, .popup-form input {
    display: block;
    width: 100%;
    font-weight: normal;
}

.popup-form label span {
    margin-bottom: 12px;
    color: #000000;
    font-size: 16px;
}

.popup-form input {
    padding: 6px 12px;
    color: #000;
    border: 1px solid #450F0F;
}

.success {
    display: none;
    position: absolute;
    margin: 2px;
    padding: 0 30px;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
    text-align: center;
    background-color: #FFF;
    text-transform: uppercase;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    z-index: 2;
}

.success.visible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.success.visible p {
    margin: 0;
    padding: 0;
}

.success.visible p span.sencs {
    font-weight: bold;
    font-size: 16px;
}